<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FromZer0 불합격</title>
    <style>
        body {
            background-color: #f8fafc;
            color: #334155;
        }
        .container{
            padding-top: 2rem;
            margin: 0;
            margin-bottom: 2rem !important;
            font-family: 'Pretendard', 'Apple SD Gothic Neo', 'Nanum Gothic', Helvetica, arial, sans-serif;
            width: 100%;
        }
        .content-area {
            max-width: 680px;
            padding: .75rem;
            margin: 0 auto;
            width: 100%;
        }
    </style>
</head>
<body class="container">
<table class="content-area">
    <thead>
    <tr>
        <td style="vertical-align:top; padding-bottom: 2rem">
            <p style="font-size: 1.25rem; font-weight: 500; color: #3B82F6">FromZer0</p>
            <h1 style="font-weight:800; font-size: 1.5rem; line-height: 2rem; margin: 0;" class="font-extrabold text-2xl">{{name}}님,<br>다음엔 꼭 동료로 만나요!</h1>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="vertical-align:top; padding-bottom: 1rem;">
            <div style="vertical-align:top; font-size: 1.25rem; background-color: #ea580c; color: #fff7ed; text-align: center; border-radius: .75rem; padding: 0.5rem 1.5rem 1.5rem 1.5rem;">
                <p style="font-weight: 800; font-size: 2rem;">다음엔 꼭 동료로 만나요!</p>
                <p>
                    아쉽게도 이번에는 저희가 생각하는 기준에 미달되는 부분이 있었어요.<br/>
                    다음번에는 꼭 좋은 결과 드릴 수 있도록 노력하는 FromZer0가 될게요!
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td style="vertical-align:top; padding-bottom: 2rem; color: #6B7280; text-align: center;">
            <p style="text-transform: uppercase; color: #cbd5e1; font-weight: lighter; letter-spacing: 10px; margin: 1rem 0;">the zer0base creation</p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
