<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FromZer0 초대</title>
    <style>
        body {
            background-color: #f8fafc;
            color: #334155;
        }
        .container{
            padding-top: 2rem;
            margin: 0;
            margin-bottom: 2rem !important;
            font-family: 'Pretendard', 'Apple SD Gothic Neo', 'Nanum Gothic', Helvetica, arial, sans-serif;
            width: 100%;
        }
        .content-area {
            max-width: 680px;
            padding: .75rem;
            margin: 0 auto;
            width: 100%;
        }
    </style>
</head>
<body class="container">
<table class="content-area">
    <thead>
    <tr>
        <td style="vertical-align:top; padding-bottom: 2rem">
            <p style="font-size: 1.25rem; font-weight: 500; color: #3B82F6">FromZer0</p>
            <h1 style="font-weight:800; font-size: 1.5rem; line-height: 2rem; margin: 0;" class="font-extrabold text-2xl">{{name}}님의<br>FromZer0 초대장이 도착했어요!</h1>
            <p style="margin-top: .75rem; font-size: 1rem; margin-bottom: 0; color: #1e293b;">어서 초대장을 사용해주세요!</p>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="vertical-align:top;  padding-bottom: 1rem;">
            <div style="vertical-align:top; background-color: #f1f5f9; text-align: center; border-radius: .75rem; padding: 0.5rem 1.5rem;">
                <p>저희가 특별히 준비한 하단 버튼을 눌러 전용 가입 주소로 이동하시면<br/>초대장 코드가 자동 입력되어 빠르게 가입이 가능해요.</p>
                <p>상세한 계정 정보는 가입 후에 한번 더 알려드려요!</p>
            </div>
        </td>
    </tr>
    <tr>
        <td style="vertical-align:top; padding-bottom: .5rem;">
            <a style="background-color: #1e293b; font-size: 1rem; border-radius: .75rem; padding: .9rem; display: block; color: #f1f5f9; font-weight: 600; text-align: center; text-decoration: none;"
               href="{{link}}">초대장 사용하기 →</a>
        </td>
    </tr>
    <tr>
        <td style="vertical-align:top; padding-bottom: 2rem; color: #6B7280; text-align: center;">
            <div style="margin: 1rem 0 2rem 0;">
                <p style="margin-bottom: .5rem;"><span style="font-weight: bold">{{createdAt}}</span>에 <span style="font-weight: bold">{{mode}}</span>으로 생성됨</p>
            </div>
            <p style="text-transform: uppercase; color: #cbd5e1; font-weight: lighter; letter-spacing: 10px; margin: 1rem 0;">the zer0base creation</p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
